.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  font-family: 'Outfit', sans-serif;
  text-align: center;
  font-size: 15px;
}

img {
  width: 100%;
  border-radius: 3%;
}

main {
  width: 23%;
  background-color: hsl(0, 0%, 100%);
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
  text-align: center;
  padding: 1%;
  margin-bottom: 2%;
}

.paragraph {
  font-size: 15px;
  color: hsl(220, 15%, 55%);
}

@media only screen and (max-width: 1440px) {
  body {
    background-color: hsl(212, 45%, 89%);
    font-weight: 400;
  }


  .code-instruction {
    padding: 0.5%;
  }

  main {
    width: 280px;
  }
}

@media only screen and (max-width: 375px) {
  body {
    background-color: hsl(220, 15%, 55%);
    font-weight: 700;
  }
}